name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  ci:
    uses: dcm-project/shared-workflows/.github/workflows/go-ci.yaml@main
    with:
      post-test-targets: vet
